body {
    background: #f5f5f5;
}

@font-face {
    font-family: gotham-medium;
    src: url(../font/gotham-medium.ttf);
}

@font-face {
    font-family: gotham-light;
    src: url(../font/gotham-light.ttf);
}

.content {
    margin: 30px 100px 0 100px; 
    overflow-x:hidden;
    overflow-y: hidden;
}

.header-left {
    width: 20%;
    float: left;
}

.header-right {
    width: 80%;
    float: right;
}

.header-right .form-group img {
    width: 20px;
    height: 20px;
}

.header-right .form-group {
    border: 1px solid #333;
    padding: 10px 5px 10px 5px;
    border-radius: 5px;
}

.cari {
    width: 95%;
    padding: 5px 5px 5px 5px;
    font-size: 20px;
    outline: none;
    border: none;
    background: #f5f5f5;
}

.navbar {
    width: 100%;
    clear: both;
    overflow: auto;
}

.navbar ul {
    margin-top:30px;
    margin-left: 20px;
}

.navbar ul li {
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 20px;
    font-family: 'gotham-medium';
}

.navbar ul li a {
    text-decoration: none;
    color:#333;
}

.menu {
    float: left;
    width: 20%;
}

.menu ul {
    padding-left: 0px;
}

.menu ul li {
    display: block;
    font-size: 20px;
    padding: 5px;
    font-family: 'gotham-medium';
}

.menu ul li a {
    text-decoration: none;
    color:#333;
}

.body {
    float: right;
    width: 80%;
    display: grid;
    grid-template-columns: auto auto auto;
}

.produk {
    border:1px solid #f5f5f5;
    background: #fff;
    box-shadow: 1px 1px 1px #e8e8e8;
    border-radius: 10px;
    max-width: 300px;
    min-height: 440px;
    clear: both;
    position: relative;
    margin: 10px 15px 10px 15px; 
}

.spesifikasi-produk {
    max-width: 300px;
    max-height: 310;
    overflow: hidden;
}

.spesifikasi-produk .img {
    margin-top:20px;
    width: 300px;
    height: 270px;
    object-fit: cover;
    display: block;
}

.label {
    position: absolute;
}

.label h5 {
    background: #fcd33f;
    font-family: gotham-medium;
    padding: 7px;
    border-radius: 0px 50px 50px 0;
}

.deskripsi {
    margin-left: 10px;
    margin-top: 15px;
}

.title h5 {
    margin-bottom: 5px;
    margin-top: 5px;
    font-family: gotham-medium !important;
    font-size: 15px;
}

.meta-entry span {
    font-family: gotham-light;
    font-size: 12px;
}

/* .footer-produk {
    border:1px solid #d9d9d9;
    float: right;
    margin-right: 10px;
    margin-top: 25px;
    width: 90px;
    border-radius: 30px;
} */

.eye:hover {
    cursor: pointer;
}

.footer-produk .look {
    border:1px solid #d9d9d9;
    float: right;
    position: relative;
    right: 86px;
    margin-top: 25px;
    padding: 9px;
    border-radius: 30px 0px 00px 30px;
}

.footer-produk .price {
    border:1px solid #d9d9d9;
    float: right;
    color:#6d6d6d;
    margin-right: 0px;
    margin-top: 25px;
    padding: 7px;
    border-radius: 0px 30px 30px 0px;
    font-family: gotham-medium;
    font-size: 13px;
}

.footer {
    width: 100%;
    clear: both;
    overflow: auto;
}

.footer span {
    font-family: gotham-medium;
    font-size: 13px;
}